#app{
    color: #484848;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    height: 100%;
    margin: 0;
}


/*Блок шаблона*/
@media (min-width: 993px) {
    .template {
        margin: 0 100px 0;
    }
}



/*Блок контента*/
.content{
    padding: 6rem 1rem 0;
}
@media (min-width: 640px) {
    .content{
        padding: 6rem 2rem 0;
    }

}


/*Жирність іконок*/
.icon-stroke {
    stroke-width: 1.5;
}
::selection {
    background: #73bcd929;
}

/*Кастомний скрол*/
.parent , .child{
    /* rest of css*/
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 5px;
    /* for firefox*/
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}
.parent::-webkit-scrollbar, .child::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}
.parent::-webkit-scrollbar-thumb, .child::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

