/*@media (min-width: 375px) and (max-width: 640px){
    .product-grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }*/
/*    .image-shadow{
        left: 1rem;
        right: 1rem;
    }
}*/